# Recap

---

### The origin of Python functions

**built-in**: functions that are readily available as soon as you enter the Python environment.

**Standard library**: Some function are availble through standard libraries. Standard libraries are packages that are shipped with Python (i.e. if you install Python the package is availble) but one needs to import them to use their functions. Example: `math` library

**Third-party library**: Function that are available through packages developed by Python developers. To use these functions we need to install the package via `pip install package_name`. Once installed, we can import the package and make use of the functions in it.

---

### Python Data Types

#### Single value
- **int**: `3`   # whole numbers
- **float**: `3.1`  # decimal numbers
- **bool**: `True`  # the logical values, can only be True or False

#### Collection of values
- **string**: `"this is a string"`  # objects only hold letters (text data)
- **list**: `[1, "two", ["another", "list"]]`  # holds any number of elements of any type
- **tuple**: `(1, "two", ["another", "list"])`  # holds any number of elements of any type

#### Use the `type()` built-in function to find out the type of an object.

---

### Everything in Python is an object

Everything in Python is an object and objects usually come with methods (and attributes) attached to them:
- the packages that we import are objects
- the method inside packages are objects
- a variable that you define in python (e.g. `a = 2`) is an object

Methods and attributes of an object can be accessed using the "." operator:
```
>>> object.method()
>>> object.attribute
```

If you have an object there are two ways to know its methods and attributes:
- `object.` + TAB
- `dir(object)`

---

### Type casting: change objects from one type to another

In Python, there are functions that can transform data from one type into another type.  Much of the time, this function is named the same as the type itself, so if you know the type's name, you know how to do it!

For example, make a `float` from an `int`:

``` python
>>> x1 = 3
>>> type(x1)
int
>>> x2 = float(x1)
>>> type(x2)
float
```

---

### **Numpy**: A package for numerical analysis and computations

**Array**: Another data collection type, provided by the Numpy library, that are designed to work with (mostly) numerical data. **Note**: all elements in the array must be of the same data type.

<br>

#### 1D and 2D arrays

**1D array**: contains many values in the form of a vector. Can be create by passing a list to `np.array()` function.
``` Python
>>> 1d_array = np.array([1, 2, 3, 4])
```

**2D array**: contains many values in the form of a *matrix*. Can be create by passing a list of lists to `np.array()` function.
``` Python
>>> 2d_array = np.array([[1, 2], [3, 4]])
```

<br>

#### Aggregation across a specific dimension

When using aggregation functions on 2D arrays, you can specify a dimension (i.e. rows or columns) to apply the aggregaetion function by setting the value of the `axis` argument:
- `axis=0`: to apply aggregation across rows (which gives you a value per column)
- `axis=1`: to apply aggregation across columns (which gives you a value per row)

---

### Indexing and slicing

Indexing and slicing is similar between collection types.
- we use square brackets `[ ]`.
- python is 0-indexed: the first element has index 0.
- you can also use negative indices: the last element is indexing -1, second last element is index -2 and so on.
- for slicing (or extracting a specific part of the collection) we can specify three numbers in the bracket `[start:end:step]`:
    - the element with the `end` index is not included (slicing is until the `end` index)
    - default value of `start` is 0, so if you leave it empty it starts from the very first element
    - default for `end` is to go until the end of the collection (including the last element)
    - default of the `step` is 1, so if you leave it empty it will take all the elements between `start` and `end` indices
    
![slicing and indexing](./imgs/indexing.png)

**Note**: for 2D arrays nothing changes, we just need to specify the indices for each dimension (rows or columns).
- indexing: `[row_index, column_index]`
- slicing: `[start_row:end_row:step_row, start_col:end_col:step_col]`

---

### **Matplotlib**: A package for data visualization

Different types of plots have their own function in matplotlib:
- line plot: `plt.plot()`
- histogram: `plt.histogram()`

Input arguments to these functions allow us to change the data representation (e.g. color, line style, etc.)

We can add extra information to the plot such as axis labels, title, legend, etc. using other methods. For example:
- `plt.xlabel()` would add a label to our x axis
- `plt.ylabel()` would add a label to our y axis
- `plt.title()` would add a title
- `plt.legend()` would display the legend. **Note** that for legend to display anything we need to label the data which can be done as an input to our plotting function: for instance, `plt.plot(x, y, label="Data 1")`

---

# Exercise

1. Create a tuple, called `my_tuple`, containing number from 1 to 5 (including 5).

2. Turn the tuple into a list and call it `my_list`.

3. Create a list, called `my_other_list`, containing numbers from 6 to 9 (including 9).

4. Using a method of the list object update `my_list` to also include the elements of `my_other_list`.

5. Using a method of the list object, add number 10 at the end of `my_list`.

6. Import the `numpy` package and call it `np`.

7. Create a Numpy Array, called `x`, from `my_list`.

8. Update `x` by dividing its values by 10 and then multiply the values by $2 \pi$.

9. Create a new varible `y` which is $sin(x)$.

10. Import the `matplotlib.pyplot` package and call it `plt`.

11. Plot `x` vs `y` as a line plot (i.e. using `plt.plot()`).

12. Make the following changed to your plot:
- line color: dodgerblue
- line style: dashed
- line width: 3
- title of the plot: "y = sin(x)"
- label of x axis: "x"
- label of y axis: "sin(x)"

13. Add to the same figure $cos(x)$.

14. Make the following changed to your new plot:
- label of y axis: "f(x)"
- add a legend that shows the function they represent: "sin(x)" and "cos(x)"
- generally improve the figure as much as you can (by changing colors, styles, etc.)

15. Create a 1D Array with 1000 entries ranging from 0 to $4 \pi$.

... reshape it into a 2D Array with 2 rows.

... save each row as a separate variable. Call first row `x1` and second row `x2`.

... compute `y1` and `y2` as $y1 = sin(x1)$ and $y2 = cos(x2)$.

... plot `y1` vs `y2`.

16. The Array below contains the grade of students for the four quizes they did during the semester. Each row is a different student, and each column is different quick (first column is the first quiz and last column the last quiz).

In [11]:
grades = np.array([[9.2, 8.7, 7.8, 7.6], 
                   [8.5, 6.2, 7.7, 6.3], 
                   [6.5, 7.0, 5.1, 4.9], 
                   [6.7, 9.8, 4.9, 9.2], 
                   [5.1, 6.9, 8.1, 7.2], 
                   [7.3, 9.3, 6.9, 9.4], 
                   [4.4, 4.1, 8., 5.1], 
                   [6.4, 6.7, 6.5, 6.], 
                   [9., 8.5, 7.9, 8.], 
                   [7.4, 8.4, 8.2, 5.5]])

a) What is the average score of the class taking all student and quizes into account?

b) What is the average score in the class for each quiz?

c) What is the average score of each student taking all quizes into account?

d) With a plot show whether the first student improved from one quiz to another or got worse?